/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}
.fade-transform-enter {
  transform: translateX(30px);
  opacity: 0;
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

/* fade-swipper */
.fade-swipper-leave-active,
.fade-swipper-enter-active {
  transition: all 0.2s;
}
.fade-swipper-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-swipper-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
