.swiper {
  width: 100%;
  height: 100%;
}

.swiper-viewport {
  padding: 0 65px;
  width: 100%;
  height: 480px;
  position: relative;
  margin: 0 auto;
  --swiper-pagination-bullet-inactive-color: var(--tutu-color-light);
  --swiper-pagination-color: var(--tutu-color-primary);
  --swiper-pagination-bullet-width: 13px;
  --swiper-pagination-bullet-height: 13px;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.7);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.5);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 32px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swipe-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 20px;
  width: 100%;

  a {
    display: block;
    flex: 1;
  }
}

.swipe-grid-item {
  box-sizing: border-box;
  display: flex;

  .flex-1 {
    width: 220px;
    overflow: hidden;
  }

  .size-90 {
    width: 90px;
    height: 90px;
    background: #d8d8d8;
    border-radius: 16px;
    opacity: 0.3;
  }

  .font-size-24 {
    line-height: 24px;
    height: 48px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .swiper-viewport {
    padding: 0;
  }
}

@media (max-width: 1240px) {
  .swiper-viewport {
    height: 640px;
  }
  .swipe-grid {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 860px) {
  .swiper-viewport {
    height: 1120px;
  }
  .swipe-grid {
    grid-template-columns: auto;
  }
}
