<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Tutuapp,tutu,TUTU,Tutu,iOS,ios,iPhone,iPad,download Tutuapp,++apps,++app,hacked games,MOD,mod,Tutuapp vip,Tutuapp free,YouTube++ ,Pokemon Go Hack ,Pokemon Go ++,Last day on earth Hack,Spotify ++,Instagram++,ZiniTevi,8 Ball Pool Hack ,unc0ver,TikTok++,Jurassic World Alive Hack ,WhatsApp++,twitter++,Facebook++,Plants vs. Zombies 2 Hack,Minecraft MOD,Grand Theft Auto: San Andreas MOD,Poppy Playtime Chapter 1 MOD,Clash of Clans MOD,Spotify Music MOD,Subway Surfers MOD,Garena Free Fire MOD,Shadow Fight 2 MOD,ROBLOX MOD,Netflix MOD,8 Ball Pool MOD,Brawl Stars MOD,Geometry Dash MOD,The Amazing Spider-Man 2 MOD,Pokemon GO MOD,Fortnite Mobile,Five Nights at Freddy's MOD,TikTok MOD,YouTube Vanced MOD,Five Nights at Freddy's 2 MOD,Google Play Store,The best Android iOS mobile software app download platform,Android game download,Android app download,最好用的Android iOS手机软件app下载平台,兔兔助手,一键Root,安卓游戏下载,安卓应用下载">
    <meta name="description"
        content="TutuApp is an app that has plenty of tweaks, hacked, MOD, ++ apps, and games on iPhone and Android. Here to visit our official website to download tweaks, hacked, MOD, ++ apps for free without jailbreaking or root.">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="propeller" content="c3ac30c61c856487144437c86e62231c">
    <meta name="verify-admitad" content="3b3d3dc134" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>TutuApp - Download for fun(iOS & Android) - Official Website</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <!--vue-ssr-outlet-->
</head>

<body>
    <div class="tutu-nav-wrap">
        <nav class="tutu-nav">
            <a href="/pc/"> <img src="/pc/assets/images/tutuapp.svg" class="tutuapp-icon" alt="tutuapp" /></a>
            <div class="link-group">
                <div class="link-group-item" style="--right: 70px">
                    <a href="/pc/download">Download</a>
                </div>
                <div class="link-group-item" style="--right: 60px">
                    <a href="/pc/support" class="active">Support</a>
                </div>
            </div>
        </nav>
    </div>
    <div id="index" v-cloak class="support">
        <section class="image-text">
            <h2>How can we help you?</h2>
            <div class="switch-bar">
                <div v-for="{ code, text } in platforms" :key="code" class="switch-bar-item"
                    :class="{ active: option === code }" @click="handleClick(code)">{{ text }}</div>
            </div>
            <div class="card">
                <div v-if="option === 'ios-vip'" class="card-head" :class="{ ios: option === 'ios-vip' }">
                    <div v-for="{ text, id } in tabs" :key="id" class="card-head-item" :class="{ active: tabId === id }"
                        @click="tabId = id">{{ text }}</div>
                </div>
                <div v-if="tabId === 0 && option === 'ios-vip'" class="container">
                    <div class="use-safari">
                        Please use Safari.
                    </div>
                    <div v-for="(item, index) in imageList" :key="item.id" class="image-item-wrap">
                        <img :src="item.icon" alt="" class="number-icon" />
                        <div :class="{ top: index === 0, fifth: index === 4 }" class="image-item">
                            <img :src="item.url" alt="" />
                            <div v-if="domList[index]" class="tip" v-html="domList[index]['dom']"
                                :style="domList[index]['style']"></div>
                        </div>
                    </div>
                </div>
                <div v-else-if="tabId === 1 && option === 'ios-vip'" class="container">
                    <div class="use-safari">
                        Please use Safari.
                    </div>
                    <div v-for="(item, index) in imageList1" :key="item.id" class="image-item-wrap">
                        <div class="image-item">
                            <img :src="item.icon" alt="" class="number-icon" />
                            <img :src="item.url" alt="" />
                            <div v-if="domList1[index]" class="tip" v-html="domList1[index]['dom']"
                                :style="domList1[index]['style']"></div>
                        </div>
                    </div>
                </div>
                <div v-else-if="option === 'android-free'" class="container">
                    <div class="android-header"></div>
                    <div v-for="(item, index) in imageList2" :key="item.id" class="image-item-wrap">
                        <div :class="{ first: index === 0 }" class="image-item">
                            <img :src="item.icon" alt="" class="number-icon" />
                            <img :src="item.url" alt="" />
                            <div v-if="domList2[index]" class="tip" v-html="domList2[index]['dom']"
                                :style="domList2[index]['style']"></div>
                        </div>
                    </div>
                </div>
                <div v-else class="container pc">
                    <div class="text-item">
                        <h4>
                            <span class="faq"><img src="/pc/assets/images/support/Bulb.svg" class="bulb" alt="" />After
                                downloading and installing, the reasons of "it needs to be connected to the internet for
                                verification".</span>
                        </h4>
                        <ul>
                            <li data-index="1.">The account may be banned, please a new account.</li>
                            <li data-index="2.">Please turn off the firewall or make sure to allow https://ppq.apple.com
                                access. If access to https://ppq.apple.com fails on a 4 / 5G network, you may need to
                                reset the phone network（Tip: Settings->General->Transfer or Reset iPhone->Reset->Reset
                                Network Settings）. </li>
                            <li data-index="3.">The verification method may be updated in the new system version. Please
                                provide the system version and application information, and wait patiently for the
                                developer to update.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="tutu-footer">
        <section>
            <img src="/pc/assets/images/tutuapp.svg" class="tutuapp-icon" alt="" />
            <p>© 2022 Tutuapp</p>
        </section>
        <section>
            <h4>Contact us</h4>
            <p><img src="/pc/assets/images/twitter.svg" class="icon" alt="" />Twitter: @TutuApp_vip</p>
            <p><img src="/pc/assets/images/message.svg" class="icon icon-message" alt="" />bussiness@tutuapp.vip</p>
        </section>
        <section>
            <!-- <h4><router-link to="/support">Get support</router-link></h4> -->
        </section>
    </footer>
    <script src="/pc/assets/js/vue.min.js"></script>
    <script data-ad-client="ca-pub-4037099820591017" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="/pc/assets/css/index.css">
    <link rel="stylesheet/less" href="/pc/assets/css/index-page.less">
    <link rel="stylesheet/less" href="/pc/assets/css/support.less">
    <script src="/pc/assets/js/less.min.js"></script>
    <script>
        Vue.directive("lazyload", {
            // 指令的定义
            bind: function (el, binding) {
                let lazyImageObserver = new IntersectionObserver((entries, observer) => {
                    entries.forEach((entry, index) => {
                        let lazyImage = entry.target;
                        // 相交率，默认是相对于浏览器视窗
                        if (entry.intersectionRatio > 0) {
                            lazyImage.src = binding.value;
                            // 当前图片加载完之后需要去掉监听
                            lazyImageObserver.unobserve(lazyImage);
                        }
                    })
                })
                lazyImageObserver.observe(el);
            },
        });
    </script>
    <script>
        new Vue({
            el: '#index',
            data() {
                return {
                    platforms: [
                        {
                            code: 'ios-vip',
                            text: 'iOS (VIP)'
                        },
                        {
                            code: 'android-free',
                            text: 'Android (Free)'
                        },
                        {
                            code: 'pc',
                            text: 'PC'
                        }
                    ],
                    tabs: [{ text: 'Installation', id: 0 }, { text: 'Verification', id: 1 }],
                    tabId: 0,
                    option: 'ios-vip',
                    imageList: new Array(8)
                        .fill('')
                        .map((item, index) => ({ icon: `/pc/assets/images/support/${index + 1}.png`, url: `/pc/assets/images/support/ios-install/${index + 1}.png`, id: index + 1 })),
                    domList: [
                        { dom: 'Click <strong>"Download TutuApp VIP"</strong>', style: { padding: '25px 25px 29px 27px' } },
                        { dom: 'Click <strong>"Allow"</strong> to download a profile.', style: { padding: '25px 46px 25px 47px' } },
                        { dom: 'Install Profile.', style: { padding: '25px' } },
                        { dom: 'Click <strong>"Continue"</strong>  to install TutuApp VIP.', style: { padding: '25px 39px 25px 38px' } },
                        { dom: 'Wait a few seconds untill it shows <strong>"Download"</strong>.', style: { padding: '25px 0' } },
                        { dom: 'Click <strong>"Open"</strong>.', style: { padding: '25px' } },
                        { dom: 'Click <strong>"Install"</strong>.', style: { padding: '25px' } },
                        { dom: 'Finished.', style: { padding: '25px' } }
                    ],
                    imageList1: new Array(6)
                        .fill('')
                        .map((item, index) => ({ icon: `/pc/assets/images/support/${index + 1}.png`, url: `/pc/assets/images/support/ios-verify/${index + 1}.png`, id: index + 1 })),
                    domList1: [
                        { dom: 'Click <strong>"Continue"</strong> to complete the verification in order to use TutuApp VIP.', style: { padding: '19px 25px 31px 23px' } },
                        { dom: 'Click <strong>"Allow"</strong> to download a profile.', style: { padding: '25px 25px 25px 23px' } },
                        { dom: 'when profile downloaded, click <strong>"Close"</strong>.', style: { padding: '20px 24px 20px 23px' } },
                        { dom: 'Back to setting and click <strong>"Profile Downloaded"</strong> to install profile.', style: { padding: '20px 24px 34px 25px' } },
                        { dom: 'Install Profile.', style: { padding: '25px' } },
                        { dom: 'Finished.', style: { padding: '24px 21px 25px 22px' } }
                    ],
                    imageList2: new Array(7)
                        .fill('')
                        .map((item, index) => ({ icon: `/pc/assets/images/support/${index + 1}.png`, url: `/pc/assets/images/support/android/${index + 1}.png`, id: index + 1 })),
                    domList2: [
                        { dom: 'Click <strong>"Download"</strong>', style: { padding: '21px 53px 25px 57px' } },
                        { dom: 'Click <strong>"OK"</strong>.', style: { padding: '27px' } },
                        { dom: 'When the profile is downloaded, click <strong>"Open"</strong>.', style: { padding: '23px 42px 27px 42px' } },
                        { dom: 'Click <strong>"Install"</strong>.', style: { padding: '27px 0' } },
                        { dom: 'Click <strong>"INSTALL ANYWAY"</strong>.', style: { padding: '27px 0' } },
                        { dom: 'When the app installed, Click <strong>"Open"</strong>.', style: { padding: '21px 57px 29px 56px' } },
                        // { dom: 'Click your TutuApp on your home screen and click <strong>"Experience now"</strong>.', style: { padding: '20px 20px 20px 21px' } },
                        { dom: 'Click <strong>"Allow"</strong>.', style: { padding: '22px 20px 28px 21px' } }
                    ]
                }
            },
            methods: {
                handleClick(option) {
                    this.option = option
                    this.tabId = 0
                    if (option === 'ios-vip') {
                        this.tabs = [{ text: 'Installation', id: 0 }, { text: 'Verification', id: 1 }]
                    } else {
                        this.tabs = []
                    }
                }
            }
        })
    </script>
    <!-- built files will be auto injected -->
    <script type="text">
        <!-- verify-admitad: "3b3d3dc134" -->
    <!-- verify-admitad: "556a841e00" -->
    </script>
    <script type="text/javascript" async>
            /*
            ** Google 统计分析脚本
            */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        /*
        ** 当前页的访问统计
        */
        ga('create', 'UA-93227825-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>