* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #e5e5e5 #f7f7f9;
  /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin;
  /* 滚动条宽度有三种：thin、auto、none */
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Segoe UI", PingFang SC, PingFangSC-Regular, PingFangSC-Medium,
    Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Heiti SC,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #00b7ff;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

.burger {
  position: relative;
  width: 24px;
  height: 18px;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2.4px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 5.4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 16.8px;
  left: 5px;
}

.align-center {
  align-items: center;
}

.accessibility-text {
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.icon-12 {
  width: 12px;
  height: 12px;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.fill-current {
  fill: currentColor;
}

.flex {
  display: flex !important;
}

.padding-h-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.margin-l-8 {
  margin-left: 8px;
}

.pro-flag {
  background-color: #ea4c89;
  color: #fff;
}

.new-flag,
.pro-flag {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 10px;
  text-transform: uppercase;
}

.site-nav input[type="checkbox"],
.site-nav input[type="radio"] {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  padding: 0;
  transition: box-shadow 200ms ease, background 200ms ease, border 200ms ease;
  border: 1px solid #dbdbde;
  border-radius: 4px;
  outline: none;
  background: #fff;
  appearance: none;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
.braintree-input,
.selectize-input {
  border: 1px solid transparent;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
.braintree-input,
.selectize-input,
textarea,
.ql-container .ql-editor,
select,
.input-with-prefix {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  appearance: none;
}

::-webkit-scrollbar {
  /* 滚动条宽 */
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /* 滚动条 拖动条 */
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0005;
}

::-webkit-scrollbar-track {
  /* 滚动条背景槽 */
  background-color: transparent;
}

input:hover[type="text"],
input:hover[type="number"],
input:hover[type="search"],
input:hover[type="password"],
input:hover[type="email"],
input:hover[type="url"],
input:hover[type="tel"],
.braintree-input:hover,
.selectize-input:hover,
textarea:hover,
.ql-container .ql-editor:hover,
select:hover,
.input-with-prefix:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

::selection {
  background: #833ab4;
  color: #fff;
}

a:link,
a:visited {
  transition: color 200ms ease;
  /* color: #ea4c89; */
  text-decoration: none;
}

.text-center {
  text-align: center;
}

[role="button"],
button {
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-l2 {
  overflow: hidden; /*多出的隐藏*/
  text-overflow: ellipsis; /*多出部分用...代替*/
  display: -webkit-box; /*定义为盒子模型显示*/
  -webkit-line-clamp: 2; /*用来限制在一个块元素显示的文本的行数*/
  -webkit-box-orient: vertical; /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
}
